[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Natural language detection tool. Written in Dart, a derivative of https://github.com/wooorm/franc/
[access "refs/*"]
	owner = group user/svonidze
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/svonidze
	label-Verified = -1..+1 group user/svonidze
	push = group user/svonidze
	read = group user/svonidze
	rebase = group user/svonidze
	removeReviewer = group user/svonidze
	submit = group user/svonidze
[access "refs/heads/*"]
	create = group user/svonidze
	push = +force group user/svonidze
	pushMerge = group user/svonidze
	read = group user/svonidze
[access "refs/tags/*"]
	push = group user/svonidze
	push = +force group user/svonidze
